<main class="page-body-wrapper flex-column  full-page-wrapper h-100  p-0 ">

    <app-section>
        <div class="d-flex row gap-md-5 gap-4 align-items-center justify-content-center vh-100">
            <div class="col-md-6 col-12">
                <h1 class="fs-md-6 display-2 lh-1 pb-2">
                    Keep an eye of your finances without effort!
                </h1>
                <h2 class="lead">
                    <small class="text-body-secondary">
                        With our Income Expense App, managing your money has never been easier. Keep track of your
                        financial transactions, monitor your income, and control your expenses effortlessly.
                    </small>
                </h2>
                <div class="d-grid gap-2 mt-4 w-25 ">
                    <button routerLink="/auth/login" class="btn btn-primary btn-lg fs-5">Get started</button>
                </div>


            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <figure class="figure">
                    <img class="figure-img img-fluid rounded" alt="Brainstorming over paper" loading="eager"
                        sizes="(min-width: 1000px) 710px, 360px"
                        srcset="/assets/images/landing/website-360.png 360w, /assets/images/landing/website-710.png 710w, /assets/images/landing/website.png 1092w">

                </figure>
            </div>
        </div>
    </app-section>






</main>