<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Income / Expenses</h4>
        <p class="card-description">Specify amount and type</p>

        <form [formGroup]="incomeForm" (ngSubmit)="save()">
          <div class="form-group">
            <label for="description">Description</label>
            <input
              type="text"
              class="form-control"
              placeholder="Description"
              name="description"
              formControlName="description"
            />
            <p style="color: rgb(71, 71, 71); font-size: 0.7rem" class="pt-2">
              It must be less than 100 characters.
            </p>
          </div>

          <div class="form-group">
            <label for="amount">Amount</label>
            <input
              type="number"
              class="form-control"
              placeholder="Amount"
              name="amount"
              formControlName="amount"
            />
            <p style="color: rgb(71, 71, 71); font-size: 0.7rem" class="pt-2">
              It must be a positive amount.
            </p>
          </div>

          <div class="form-group">
            <label for="type">Type</label>
            <br />
            <button
              *ngIf="type === 'income'; else outcomeButton"
              (click)="type = 'expense'"
              type="button"
              class="btn btn-primary btn-block"
            >
              Income
            </button>
            <ng-template #outcomeButton>
              <button (click)="type = 'income'" type="button" class="btn btn-warning btn-block">
                Expense
              </button>
            </ng-template>
          </div>

          <hr />
          <button
            *ngIf="!isLoading()"
            [disabled]="incomeForm.invalid"
            type="submit"
            class="btn btn-success mr-2"
          >
            <i class="fa fa-save"></i>
            Add
          </button>
          <button *ngIf="isLoading()" [disabled]="true" type="button" class="btn btn-success mr-2">
            <i class="fa fa-spin fa-sync"></i>
            Waiting...
          </button>

          <button [disabled]="isLoading()" type="reset" class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
